
<div class="d-flex justify-content-around mt-5 ">
  {% for service in all_services %}
  <div class="w-20">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://via.placeholder.com/300x300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Name: {{service.name}}</h5>
        <p class="card-text">Năm sinh: {{service.yob}} ; Chiều cao: {{service.height}} </p>
        <a href="{{url_for('detail', service_id=service.id)}}" class="btn btn-primary">Chi tiết</a>
      </div>
    </div>

  </div>


  {% endfor %}

</div>
<div class="bg-grey text-white text-center w-100 h-50px mt-5  pt-3">
  Được thực hiện bởi Techkids

</div>
