<div class="h-500px w-100">
  <div class="text-center text-dark pt-3 font-weight-bold">Các gói dịch vụ</div>
  <div class="w-100 h-75 d-flex justify-content-around">
    <div class="h-75 w-30">
      <div class="card">
        <div class="card-header text-center bg-lightgrey text-white">
          Gói cơ bản
        </div>
        <div class="card-body">
          <p class="card-text">
            <ul class="list-group list-group-flush">
            <li class="list-group-item text-dark">Dẫn bạn về ra mắt</li>
            <li class="list-group-item text-dark">Ăn cơm cùng gia đình</li>
            <li class="list-group-item">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</li>
            <li class="list-group-item">Bạn không phụ giúp các công việc nấu nướng dọn dẹp</li>
          </ul>
          <a href="#" class="btn btn-primary bg-dark ml-5 mt-5">Tìm hiểu thêm <i class="far fa-heart"></i></a>
          </p>

        </div>
      </div>
    </div>
    <div class="h-75 w-30">
      <div class="card">
        <div class="card-header text-center bg-grey text-white">
          Gói cơ bản
        </div>
        <div class="card-body">
          <p class="card-text">
            <ul class="list-group list-group-flush">
            <li class="list-group-item text-dark">Dẫn bạn về ra mắt</li>
            <li class="list-group-item text-dark">Ăn cơm cùng gia đình</li>
            <li class="list-group-item">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</li>
            <li class="list-group-item">Bạn không phụ giúp các công việc nấu nướng dọn dẹp</li>
          </ul>
          <a href="#" class="btn btn-primary bg-dark ml-5 mt-5">Tìm hiểu thêm <i class="far fa-heart"></i> </a>
          </p>

        </div>
      </div>
    </div>
    <div class="h-75 w-30">
      <div class="card">
        <div class="card-header text-center text-white bg-dark">
          Gói cơ bản
        </div>
        <div class="card-body">
          <p class="card-text">
            <ul class="list-group list-group-flush">
            <li class="list-group-item text-dark">Dẫn bạn về ra mắt</li>
            <li class="list-group-item text-dark">Ăn cơm cùng gia đình</li>
            <li class="list-group-item">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</li>
            <li class="list-group-item">Bạn không phụ giúp các công việc nấu nướng dọn dẹp</li>
          </ul>
          <a href="#" class="btn btn-primary bg-dark ml-5 mt-5">Tìm hiểu thêm <i class="far fa-heart"></i></a>
          </p>

        </div>
      </div>
    </div>
  </div>

</div>
