<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chi tiết dịch vụ</title>
    {% include 'meta-data.html' %}
  </head>
  <body>
    <div class="bg-dark">
      {% include 'detail/nav.html' %}
      <!-- <img src="{{detail_service.img}}" alt=""> -->
      {% include 'detail/carousei.html' %}

      <!-- <a href="{{url_for('order', service_id=detail_service.id)}}">Yêu cầu dịch vụ</a> -->
      <div class="bg-grey text-white text-center w-100 h-50px mt-5 pt-3">
        Được thực hiện bởi Techkids

      </div>
    </div>

  </body>
</html>
