<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'meta-data.html' %}
    <title>Login</title>
  </head>
  <body>
    <div class=" d-flex justify-content-center mt-5">
      <form  method="post">

        <label class="font-weight-bold border border-success">Username</label> <input type="text" name="username" value="">
        <label class="font-weight-bold border border-success">Password</label> <input type="password" name="password" value="">
        <input class="btn btn-success" type="submit">
      </form>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <div class="text-dark pt-2 border border-success font-weight-bold">Don't have password?</div>
      <a class="btn btn-success text-center" href="{{url_for('signin')}}">Sign-up</a>
    </div>






  </body>
</html>
